<%# main container for facets/limits menu -%>
<div class="d-lg-none d-block" data-controller="maptogglebutton" data-maptogglebutton-searchmapcontainer-outlet=".results-map-container">
  <button class="btn btn-outline-primary col-12" data-action="maptogglebutton#toggleMap">
    <i class="bi bi-map"></i>
    <span>Search using map</span>
  </button>
</div>
<%= content_tag :div, id: @id,  class: container_classes do %>
  <div class="facets-header">
    <%= content_tag :h2, @title, class: header_classes if @title %>

    <%= collapse_toggle_button(@panel_id) %>
  </div>

  <div id="<%= @panel_id %>" class="<%= body_classes %>">
    <%= body %>
  </div>
<% end %>
