<div id="topnav-container">
  <div class='container'>
    <header id="topnav" class="header-logo" role="banner">
      <%= link_to 'http://library.stanford.edu' do %>
      <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
      <%= image_tag "sul-logo.png", alt: "", height: 25 %>
      <% end %>
      <div class='topnav-links'>
        <% if has_user_authentication_provider? %>
          <ul class="navbar-nav">
            <% if current_user %>
              <% unless current_user.to_s.blank? -%>
                <li>
                  <%= link_to current_user, 'https://accounts.stanford.edu/' %>
                </li>
                <li class='dropdown'>
                  <a href='#' id="dropdownMenuLink" class='dropdown-toggle' role='button' data-toggle='dropdown' aria-haspopup="true" aria-expanded='false'>
                    <span class='caret'></span>
                  </a>
                  <div class="login-dropdown dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path(referrer: request.original_url), class: 'dropdown-item' %>
                  </div>
                </li>
              <% end %>
            <% else %>
              <li>
                <%= link_to t('blacklight.header_links.login'), new_user_session_path(referrer: request.original_url) %>
              </li>
            <% end %>
            <li>
              <span class='nav-element-divider'>|</span>
            </li>
            <li>
              <%= link_to feedback_path, data: { toggle: 'collapse', target: '#feedback-form' } do %>
                Feedback
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </header>
  </div>
</div>
<div id='feedback-form' class='feedback-form-container collapse'>
  <%= render 'shared/feedback_forms/form' if show_feedback_form? %>
</div>
