<div id="topnav-container">
  <div class='container'>
    <header id="topnav" class="header-logo" role="banner">
      <%= link_to 'http://library.stanford.edu' do %>
        <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
        <%= image_tag "sul-logo.png", alt: "", height: 25 %>
      <% end %>
      <div class='topnav-links'>
        <% if has_user_authentication_provider? %>
          <ul class="navbar-nav">
            <li class="first">
              <% if current_user && !current_user.sunet.blank? %>
                <%= link_to "#{current_user.sunet}: Logout", destroy_user_session_path %>
              <% else %>
                <%= link_to 'Login', new_user_session_path(referrer: request.original_url) %>
              <% end %>
            </li>
            <li>
              <%= link_to feedback_path, data: { toggle: 'collapse', target: '#feedback-form' } do %>
                Feedback
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    </header>
  </div>
</div>
<div id='feedback-form' class='feedback-form-container collapse'>
  <%= render 'shared/feedback_forms/form' if show_feedback_form? %>
</div>
