<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= render_page_title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="<%= Settings.GOOGLE_SITE_VERIFICATION %>" />
  <meta name="msvalidate.01" content="<%= Settings.BING_SITE_VERIFICATION %>" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZL7MQNBFW9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    
    const config = {};
    <% if Settings.analytics_debug %>
      config.debug_mode = true
    <% end %>
        
    gtag('config', 'G-ZL7MQNBFW9', config)
  </script>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="description" content="Stanford University Libraries' official online search tool for geographic information systems (GIS), maps, and other geographic datasets." />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag "https://www-media.stanford.edu/su-identity/css/su-identity.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'application' %>
  <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie8.css" />
  <![endif]-->
  <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie7.css" />
  <![endif]-->
  <%= csrf_meta_tags %>
  <% if content_for? :head %>
   <%= yield :head %>
 <% end %>

</head>
<body class="<%= render_body_class %>">
  <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
    <%= link_to t('blacklight.skip_links.search_field'), '#q', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbo: 'false' } %>
    <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbo: 'false' } %>
    <%= content_for(:skip_links) %>
  </nav>

  <div id="su-wrap"> <!-- #su-wrap start -->
    <div id="su-content"> <!-- #su-content start -->
      <%= render 'shared/top_navbar' %>
      <%= render 'shared/header_navbar' %>
      <div id='main-container' role='main' class='container mt-4'>
        <%= content_for(:container_header) %>

        <%= render :partial=>'/shared/flash_msg', layout: 'shared/flash_messages' %>

        <div class='row'>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </div> <!-- #su-content end -->
  </div> <!-- #su-wrap end -->
  <%= render partial: 'shared/footer' %>
  <%= render partial: 'shared/modal' %>
  <%= render 'shared/su_footer' %>
  <%= render 'shared/sitelinks_search_box' %>
</body>
</html>
