<div class='container'>
  <h2 class='font-weight-light section-heading'>Explore</h2>
  <div class='row home-page-linked-searches'>
    <div class='col-sm-3 col-xs-6'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <%= link_to search_catalog_path(f: { gbl_resourceClass_sm: ['Datasets']}) do %>
            <%= image_tag 'geospatial_data.png', alt: '' %>
            <h3>Geospatial data</h3>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <%= link_to search_catalog_path(f: { gbl_resourceClass_sm: ['Maps'] }) do %>
            <%= image_tag 'scanned_maps.png', alt: '' %>
            <h3>Scanned maps</h3>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <%= link_to search_catalog_path(f: { dct_subject_sm: ['Census']}) do %>
            <%= image_tag 'census_data.png', alt: '' %>
            <h3>Census data</h3>
          <% end %>
        </div>
      </div>
    </div>
    <div class='col-sm-3 col-xs-6'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <%= link_to search_catalog_path(f: { dct_spatial_sm: ['California'] }) do %>
            <%= image_tag 'california_data.png', alt: '' %>
            <h3>California data</h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <h2 class='font-weight-light section-heading'>Search an area like California or zoom out to explore</h2>
      <%= content_tag :div, '', id: 'map', data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-bbox' => '-122.23423 37.37616 -122.11441 37.507002', basemap: geoblacklight_basemap, leaflet_options: leaflet_options } %>
    </div>
  </div>
</div>
