<div class="container">
  <%= form_tag feedback_form_path, method: :post, class:"feedback-form", role:"form" do %>
    <div class="row">
      <div class="offset-md-2 col-md-8 mb-2">
          <%= render "shared/feedback_forms/reporting_from" %>
      </div>
    </div>
    <div class="row">
      <span style="display:none;visibility:hidden;">
        <%= label_tag(:email_address, 'Ignore this text box. It is used to detect spammers. If you enter anything into this text box, your message will not be sent.') %><br/>
        <%= email_field_tag :email_address %><br/>
        <%= hidden_field_tag :user_agent %>
        <%= hidden_field_tag :viewport %>
      </span>
      <div class="offset-md-2 col-md-8">
        <div class="form-group row">
          <%= label_tag(:message, 'Message', class:"col-md-3 col-form-label") %>
          <div class="col-md-9">
            <%= text_area_tag :message, "", rows:"5", class:"form-control", required: true %>
          </div>
        </div>
        <div class="form-group row">
          <%= label_tag(:name, 'Your name', class:"col-md-3 col-form-label") %>
          <div class="col-md-9">
            <%= text_field_tag :name, "", class:"form-control", required: true %>
          </div>
        </div>
        <div class="form-group row">
          <%= label_tag(:to, 'Your email', class:"col-md-3 col-form-label") %>
          <div class="col-md-9">
            <%= email_field_tag :to, "", class:"form-control", required: true %>
          </div>
        </div>

        <% if current_user.blank? %>
          <div class="form-group row">
            <div class="col-md-9 offset-md-3">
              <%= recaptcha_tags %>

              <p>(Stanford users can avoid this Captcha by logging in.)</p>
            </div>
          </div>
        <% end %>

        <div class="form-group row">
          <div class="col-md-9 offset-md-3">
            <button type="submit" class="btn btn-primary">Send</button>
            <%= link_to "Cancel", :back, class:"cancel-link", data: {toggle:"collapse", target:"#feedback-form"} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
