<% content_for(:content) do %>
  <%= render Blacklight::Document::PageHeaderComponent.new(document: @document, search_context: @search_context, search_session: search_session) %>
  <section class="<%= show_sidebar_classes %>">
    <%= content_for(:sidebar) %>
  </section>
  
  <section class="<%= show_content_classes %>">
    <%= yield %>
  </section>
<% end %>

<%= render template: "layouts/blacklight/base" %>