<% content_for(:content) do %>
  <%= render Blacklight::Document::PageHeaderComponent.new(document: @document, search_context: @search_context, search_session: search_session) %>
  <section class="<%= show_sidebar_classes %>">
    <%= content_for(:sidebar) %>
  </section>
  
  <section class="<%= show_content_classes %>">
    <%= yield %>
  </section>

  <section class="col-lg-5">
    <% if (@document.image? || @document.item_viewer.iiif) && !@document[Settings.FIELDS[:GEOREFERENCED]] %>
      <%= render Earthworks::AlertComponent.new(type: 'info', body: t('earthworks.show.no_georeference_message')) %>
    <% end %>
    <%= render Geoblacklight::ViewerContainerComponent.new(document: @document) %>
    <%= render Geoblacklight::AttributeTableComponent.new(document: @document) %>
    <%= render Geoblacklight::IndexMapInspectComponent.new(document: @document) %>
  </section>
<% end %>

<%= render template: "layouts/blacklight/base" %>